<!DOCTYPE html>
<html lang="en">

	<head>
	<base href="/" />
	<script type="text/javascript" src = 'angular/angular.js'></script>
	<script type="text/javascript" src = 'angular-ui-router/release/angular-ui-router.js'></script>
	<script type="text/javascript" src = 'main.js'></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
	<link href = "style.css" rel = "stylesheet">
	</head>

	<body ng-app='NBA_Pickem_App'>
		
		<navbar></navbar>
		<div class="container mainContainer">
			<ui-view></ui-view>
		</div>
		
	</body>
</html>