<!DOCTYPE html>
<html lang="en">

	<head>
	<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
	<link href = "style.css" rel = "stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<img class="brandImg" src="img/jordon-logo.png">
				<button type="button" class="btn btn-default navbar-btn navbar-right btn-primary">Login</button>
				<button type="button" class="btn btn-default navbar-btn navbar-right">Register</button>
			</div>
		</nav>

		<div class="container">
	    	<h1> Hello World! </h1>
	    </div>
	</body>
</html>