<tabmenu></tabmenu>
<table>
  <tr class='hideHeader'>
    <th>Team Logo</th>
    <th>Team Name</th> 
    <th>Team Wins</th>
  </tr>
  <tr ng-repeat='team in nbaTeams | orderBy:["wins"]: true'>
    <td class='{{team.abbr}} nbaLogo'></td>
    <td class='nbaTeamName'>{{team.name}}</td> 
    <td class='nbaTeamWins'>{{team.wins}}</td>
  </tr>
  <tr class='hideHeader'> <!-- This row is just here for spacing -->
    <th>Spacer</th>
    <th>Spacer</th> 
    <th>Spacer</th>
  </tr>
  <tr>
    <td></td>
    <td class='teamTotalText'>Total: </td> 
    <td class='teamTotal'>{{teamTotalWins}}</td>
  </tr>
</table>