<tabmenu></tabmenu>
<div class='userView site-font'>
	<div>
		<span class='col-md-6 col-sm-6 boldHeader'>Team Name</span>
		<span class='col-md-6 col-sm-6 boldHeader'>League Name</span>
	</div>
	<div class='userDiv'>
		<div ng-repeat='team in userTeams'>
			<a ui-sref='team({ id: team.id })'>
				<span class='col-md-6 col-sm-6'>{{team.name}}</span>
			</a>
			<a ui-sref='league({ id: team.league.id })'>
				<span class='col-md-6 col-sm-6'>{{team.league.name}}</span>
			</a>
		</div>
	</div>
</div>