$formHeight: 80px;

#login-form{
	display: inline-block;
	text-align: center;
	margin: 0 25%;
	width: 50%;
	font-size: 145%;
}

.form-control {
	height: $formHeight;
	font-size: 180%;
	text-align: center;
}

.btn {
	height: $formHeight;
	width: 100%;
	font-size: 145%;
	margin-top: 5px;
}

@media only screen and (max-width: 767px) {
	#login-form{
		margin: 0 12.5%;
		width: 75%;
		font-size: 250%;
	}

	.form-control { font-size: 120%; }

	.btn { font-size: 120%; }
}

@media only screen and (max-width: 480px) {

	.form-control { font-size: 100%; }
	
	.btn { font-size: 100%; }
}


