.nbaTeamName{
	
}

.nbaTeamWins{
	text-align: center;
}

.teamTotalText {
	text-align: right;
	font-weight: bold;
	padding-right: 6%;
}

.teamTotal {
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: $mobileScreenSize) {
	//background-size: 200px 200px;
}
	

