$navTabBorder: 1px;
$navTabBorderColor: #868686;

.nav-tabs > li {
    float:none;
    display:inline-block;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	border-top: $navTabBorder solid $navTabBorderColor;
	border-left: $navTabBorder solid $navTabBorderColor;
	border-right: $navTabBorder solid $navTabBorderColor;
}



.nav-tabs>li {
	margin-bottom: ($navTabBorder * -1);
}

.nav-tabs {
    text-align:center;
    font-size: 172%;
    border-bottom: $navTabBorder solid $navTabBorderColor;
}
