.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
    font-size: 38px;
}

@media screen and (max-width: 1000px) {

	.nav-tabs{
		font-size: 38px;
	}
}