.navbar-leftside{
	background-color: #0837B6;
	padding-right: 0px;
	overflow: hidden;
}

.navbar-rightside{
	background-color: #F64657;
	overflow: hidden;
}

.navBarImg {
	//display: inline-block;
	width: 50px;
	height: 50px;
	float: right;
}

.navbar-btn {
	margin-right: 5px;
}