// Mobile settings (overrule any above)
$mobileScreenSize: 1000px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}

body {
	margin-top: 15vh;
	font-size: 100%;
}

.mainContainer {
	padding: 0;
	margin-bottom: 60px;
	border-radius: 10px;
}

section {
	// padding-top: 10vh;
	padding-top: 60px;
	margin-bottom: 60px;
	font-size: 100%;
}

h1 { 
	margin: 0;
	font-size: 172%; 
}

@media only screen and (max-width: 1023px ) {

	html { font-size: 20px; }
	.mainContainer { width: 95%; }

}

@media only screen and (max-width: 767px){

	html { font-size: 16px; }

}

@import 'site-theme/font';
@import 'site-theme/header';
@import 'site-theme/table';

@import 'directives/nba-team-repeat';
@import 'directives/navbar';
@import 'directives/tabMenu';

@import 'nba-logos/main';

@import 'states/league';
@import 'states/team';
@import 'states/login';
@import 'states/nba-league';
@import 'states/user'
